doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="description" content="")
		meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		title WORKEY 
		link(rel="stylesheet" type="text/css" href="/public/css/bootstrap.css")
		link(rel="stylesheet" type="text/css" href="/public/css/elbusca.css")
		link(rel="shortcut icon" href="public/imagenes/img/ntede.comr.png")
	body.landing( style="overflow-x:hidden; overflow-y:scroll;")
		header
					div(class="colorarriba" align='center')
						.picture(style="margin-bottom:4px;")
								a(href='/' )
									img(src='/public/imagenes/img/logos-01.png' class="logop" id="logop" name="logop")
								ul.nav.navbar-nav.navbar-right(style="padding-left: 40%")
													li.dropdown
														input.button(value='Contacto' data-type="zoomout" readonly="readonly")
													li.dropdown
														input.buttons(value='Ingresar', data-type='zoomin' readonly="readonly")
					section#banner
						h2 LA OFICINA QUE QUIERES...
						h2 LA OFICINA QUE TIENES
						p Rápido, Fácil y flexible 
						a(onclick='openDialog();') Mostrar Popup
						ul.actions
							button(type="button" id="busss" class="busss" onclick="sibuss()") BUSCAR
							button(type="button" id="enlis" class="enlis" onclick="nobus()")  PUBLICAR
						section
									div(id="nobus" class="nobus")
										li.nobus
											form(style='text-align: center;', action='/hosts', method='POST', label='')
														input(placeholder="UBICACIÓN" type="search" id="mysearch" name="mysearch" list="datos" style='text-align: center; color:#333;' autocomplete="off")
														datalist(id="datos" required)
															option(value="Usaquen")
															option(value="Chapinero")
															option(value="Santa Fe")
															option(value="San Cristóbal")
															option(value="Usme")
															option(value="Tunjuelito")
															option(value="Bosa")
															option(value="bogota")
															option(value="Kennedy")
															option(value="Fontibon")
															option(value="Engativa")
															option(value="Suba")
															option(value="Barrios Unidos")
															option(value="Teusaquillo")
															option(value="Los Martires") 
															option(value="Antonio Nariño")
															option(value="Puente Aranda")
															option(value="La Candelaria")
															option(value="Rafael Uribe Uribe")
															option(value="Ciudad Bolivar")
															option(value="Sumapaz")
														span.glyphicon(style='')
															input.imputt(value='   PUBLICAR', type='submit')
									div(id="sibus" class="sibus")
										li.sibus
											form(style='text-align: center;', action='/extencion', method='POST', label='')
														input(placeholder="BUSCAR" type="search" id="mysearch" name="mysearch" autocomplete="off" list="datos" style='text-align: center; ')
														datalist(id="datos")
															option(value="Oficina Privada" ) 
															option(value="Escritorio compartido" )
															option(value="Escritorio dedicado" )
															option(value="Auditorio")
															option(value="ala de Juntas" )
															option(value="Usaquén")
															option(value="Chapinero")
															option(value="Santa Fe")
															option(value="San Cristóbal")
															option(value="Usme")
															option(value="Tunjuelito")
															option(value="Bosa")
															option(value="bogota")
															option(value="Kennedy")
															option(value="Fontibón")
															option(value="Engativá")
															option(value="Suba")
															option(value="Barrios Unidos")
															option(value="Teusaquillo")
															option(value="Los Mártires") 
															option(value="Antonio Nariño")
															option(value="Puente Aranda")
															option(value="La Candelaria")
															option(value="Rafael Uribe Uribe 	")
															option(value="Ciudad Bolívar")
															option(value="Sumapaz")
														span.glyphicon(style='')
															input.imputt(value='ENCONTRAR', type='submit')
				div
					.overlay-container
						.window-container.zoomout(style="z-index:105;")
							.sesions(style="z-index:105;")
								p(style="color:#fff;" id="creacu" ) Contacto
									span(class="close") X
								form(action="envio3", method="POST", id="for" class="for")
												div
													label(for="name") Nombre completo
													input(type="text", name="name",  id="name", class"form-control" autocomplete="off")
												div 
													label(for="correo2") Correo
													input(type="text", name="correo2",  id="correo2", class"form-control" autocomplete="off")
												div 
													label(for="tel") Telefono
													input(type="text", name="tel",  id="tel", class"form-control" autocomplete="off")
												div 
													label(for="asunto") Asunto
													select(type="text", name="asunto", placehoder="", id="asunto", class"form-control") 
														option(value="Busco"  selected=" Busco") Busco oficina  
														option(value="Publicar"  selected="Publicar") Publicar oficina
														option(value="Otro"  selected="Otro")  Otro
														option(value=""  selected="" style="display:none;")  --Selecciona--
												div 
													label(for="mess") Mensaje
													textarea(type="text", name="mess", id="mess", class"form-control" style=" max-width:98%; width:100%; max-height:150px; background-color:#E8E8E8;" autocomplete="off")
												div 
													input(type="submit" value="Enviar" id="send" clas="send")
					.overlay-containers
						.window-containers.zoomin
							.sesions
								p(style="color:#fff;" id="creacu" ) Ingresar
									span(class="close") X
								form(action="session", method="POST", id="for" class="for")
									div(class="form-group" style="padding-top: 30px; ")
										label(for="email") Correo
										input(type="text", name="email", id="email", class"form-control" autocomplete="off")
									div 
										label(for="password") Contraseña
										input(type="password", name="password" id="password" class"form-control"autocomplete="off" )
									div 
										input(type="submit" value="Ingresar" id="send" clas="send" autocomplete="off")
									div
										p(style="padding-left: 25%") Nuevo en workey? 
												input.rrs(value='Crea una cuenta' data-type="rrr" autocomplete="off")
					.overlay-container2
						.window-container2.rrr
							.sesions
								p(style="color:#fff;" id="creacu" ) INSCRIBIRSE
									span(class="close") X
								form(action="users", method="POST"  name="fors" id="fors" class="fors")
									div
										label(for="username") Nombre Completo
										input(type="text", name="username", id="username" class"form-control"  required)
									div 
										label(for="telefono") telefono
										input(type="text", name="telefono", id="telefono" class"form-control"  required)
									div 
										label(for="email") Correo
										input(type="email", name="email",  id="email", class"form-control" title="por el correo" required) 
									div 
										label(for="nit") Cedula/NIT
										input(type="text", name="nit", id="nit" class"form-control",  required, onchange="val()")
									div 
										label(for="password")  Contraseña
										input(type="password", name="password", id="password" class"form-control" required )
									div 
										label(for="password") Confirma tu Contraseña
										input(type="password", name="password_confirmation", id="password" class"form-control" required)
									div 
										input(type="submit" value="INSCRIBIRSE" class="btn btn-info" id="send" clas="send")
			footer
						div
							h2 Contacta a nuestro equipo para más información llámanos o escríbenos.
							h2 Los precios son de referencia.
						div
							p Tel: +(57) 3134301091
							p Email:workeybogota@gmail.com
						div
							div(id="face" class="face" name="face")
								a(href="https://www.facebook.com/WorkeyBogota/")
									img(src="/public/imagenes/img/face.png" width="50px")
							div(id="face" class="face" name="face")
								a(href="https://www.linkedin.com/company/11280196/")
									img(src="/public/imagenes/img/inkedin-icon.png" width="50px")
	script(type='text/javascript', src='/public/js/jquery.min.v1.js')
	script(type='text/javascript', src='/public/js/bootstrap.js')
	script(type='text/javascript', src='/public/js/cambio.js')