extends ./layout3.jade
block contenido 
	.container
	.coreccion
	.sesion
			h1(style="color:#fff;") MOSTRAR UNA OFFICINA 
			form(action="users", method="POST"  name="datos")
				div(class="form-group")
					label(for="email") Email 
					input(type="email", name="email", placeholder="Email", id="email", class"form-control" title="por el correo" required) 
				div 
					label(for="username") Nombre Completo
					input(type="text", name="username",placeholder="Dime tu username", id="username" class"form-control"  required)
				div 
					label(for="password")  Contraseña
					input(type="password", name="password",placeholder="Contraseña", id="password" class"form-control" required )
				div 
					label(for="password") Confirma tu Contraseña
					input(type="password", name="password_confirmation",placeholder="Confirma Contraseña", id="password" class"form-control" required)
				div 
					label(for="telefono") telefono
					input(type="text", name="telefono",placeholder="Dime tu Telefono", id="telefono" class"form-control"  required)
				div 
					label(for="nit") Cedula o NIT
					input(type="text", name="nit",placeholder="Dime tu nit o tu cc", id="nit" class"form-control",  required, onchange="val()")
				div(style="display:none;") 
					label(for="subirinfo")
					input(type="text", name="subirinfo",id="subirinfo" value="true")
				div 
					label(for="web") No soy un robot
					button.g-recaptcha(data-sitekey='6LdG6xIUAAAAAF1OCUhEuSVfsG1O7r6-7hoQFE7l', data-callback='YourOnSubmitFn' required) no soy un robot
					input(type="submit" value="Crear Página " class="btn btn-info")
		script(type='text/javascript', src='/public/js/bootstrap.js')
	script(type='text/javascript', src='/public/js/bootstrap.min.js')
	script(type='text/javascript', src='/public/js/jquery.min.js')
	script(type='text/javascript', src='/public/js/jquery.min.v1.js')
	script(src='https://www.google.com/recaptcha/api.js')
	script(type='text/javascript', src='/public/js/auto.js')